/* Google font */
.fira-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Common Style */
*{
    padding: 0;
    margin: 0;
}
.btn1{
    width: fit-content;
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
}
.btn2{
    height: 48px;
    width: fit-content;
    padding: 13px 26px;
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
}
.btn3{
    color: white;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.cmn-p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.cmn-h2{
    color: black;
    font-size: 40px;
    font-weight: 700;
}
.cmn-h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.cmn-h4{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}
body{
    background-color: #F1F1F3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar Style */
nav{
    height: 100px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 24px 160px;
}
nav button{
    height: 52px;
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid #006A50;
    color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;

}

/* Heroarea Style */
.banner{
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.banner-content{
    max-width: 622px;
    max-height: 326px;
}
.banner-content h5{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 600;
}
.banner-content h1{
    font-size: 45px;
    font-weight: 700;
    margin: 20px 0;
}
.banner-img{
    height: 400px;
    width: 474px;
}
main{
    max-width: 1280px;
    margin: 0 auto;
}

/* Vision of Future Style */
.vision-of-future{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 80px;
}
.vision-container{
    display: flex;
    gap: 24px;
}
.vision-card{
    height: 275px;
    width: 410px;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vision-card img{
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}
.vision-card button{
    margin-top: 24px;
}
.vision-card p{
    margin-top: 12px;
}
.blue-card{
    background-color: rgba(84, 144, 245, 0.2);
}
.blue-card button{
    background-color: rgba(84, 144, 245, 1);
}
.green-card{
    background-color: rgba(198, 228, 214, 1);
}
.green-card button{
    background-color: rgba(9, 161, 92, 1);
}
.yollow-card{
    background-color: rgba(247, 235, 207, 1);
}
.yollow-card button{
    background-color: rgba(255, 194, 57, 1);
}

/* Dr. Yunus section style */
.dr-yunus{
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px 24px;
    background-image: url("../image/quote-bg.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 24px;
}
.p1{
    margin-bottom: 12px;
}
.p2{
    color: rgba(14, 14, 14, 0.6);
}

/* Recent News Style */
.recent-news{
    margin-bottom: 80px;
}
.news-card{
    border-radius: 24px;
    padding: 48px;
    background-color: white;
    margin: 24px 0;
    display: flex;
    align-items: center;
}
.news-p{
    padding: 24px 0 32px 0;
}
.news-img img{
    border-radius: 24px;
}
.news-content{
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
}
.news-content img{
    height: 40px;
    width: 134px;
}
.image-right{
    margin-inline: 0 24px;
}

/* Donate Section Style */
.donate-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-inline: 80px;
    gap: 32px;
    margin-bottom: 80px;
}
.amount{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.amnt-btn{
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.active-btn{
    background-color: rgba(198, 228, 214, 1);
}
.donate-container input{
    height: 64px;
    width: 1032px;
    border-style: none;
    text-align: center;
    /* color: rgba(14, 14, 14, 0.3); */
    font-size: 24px;

}

/* News letter Style */
.Newsletter{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    text-align: center;
    margin-bottom: 80px;
}
.Newsletter p{
    max-width: 622px;
}
.email-container{
    width: 750px;
    display: flex;
    gap: 0;
}
.email-container input{
    width: 100%;
    padding-left: 40px;
    border-radius: 8px 0 0 8px;
    border-style: none;
    font-size: 18px;
}
#subscribe{
    border-radius: 0 8px 8px 0;
}
/* Footer Style */
footer{
    padding: 50px 160px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
footer hr{
    width: 1022px;
    color: rgba(14, 14, 14, 0.1);
}
.social-links{
    display: flex;
    gap: 23px;
}

/* Hover Effect on button */
.btn1:hover{
    background-color: #04b689;
}
.btn2:hover{
    background-color: #04b689;
}
.amnt-btn:hover{
    background-color: rgba(198, 228, 214, 1);
}
.blue-card button:hover{
    background-color: rgb(5, 46, 118);
}
.green-card button:hover{
    background-color: rgb(0, 107, 59);
}
.yollow-card button:hover{
    background-color: rgb(201, 141, 2);
}
