/* Google font */
.fira-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Common Style */
*{
    padding: 0;
    margin: 0;
}
.btn1{
    height: 56px;
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
}
.btn2{
    height: 48px;
    padding: 13px 26px;
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.btn3{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.cmn-p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.cmn-h2{
    color: black;
    font-size: 40px;
    font-weight: 700;
}
.cmn-h3{
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}
.cmn-h4{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}
body{
    background-color: #F1F1F3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Navbar Style */
nav{
    height: 100px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 24px 160px;
}
nav button{
    height: 52px;
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid #006A50;
    color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;

}

/* Heroarea Style */
.banner{
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.banner-content{
    max-width: 622px;
    max-height: 326px;
}
.banner-content h5{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 600;
}
.banner-content h1{
    font-size: 45px;
    font-weight: 700;
    margin: 20px 0;
}
.banner-img{
    height: 400px;
    width: 474px;
    background-image: url(/image/hero.png);
    background-size: cover;
}
main{
    max-width: 1280px;
    margin: 0 auto;
}
.vision-of-future{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.vision-container{
    display: flex;
    gap: 24px;
}
.vision-card{
    height: 275px;
    width: 410px;
    padding: 32px;
    border-radius: 16px;
}
.vision-card img{
    margin-bottom: 24px;
}
.vision-card button{
    margin-top: 24px;
}
.vision-card p{
    margin-top: 12px;
}
.blue-card{
    background-color: rgba(84, 144, 245, 0.2);
}
.blue-card button{
    background-color: rgba(84, 144, 245, 1);
}
.green-card{
    background-color: rgba(198, 228, 214, 1);
}
.green-card button{
    background-color: rgba(9, 161, 92, 1);
}
.yollow-card{
    background-color: rgba(247, 235, 207, 1);
}
.yollow-card button{
    background-color: rgba(255, 194, 57, 1);
}
.dr-yunus{
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px 24px;
    background-image: url(/image/quote-bg.png);
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 24px;
}
.p1{
    margin-bottom: 12px;
}
.p2{
    color: rgba(14, 14, 14, 0.6);
}